{% extends "html_page.twig" %}

{% block bodycontent %}

<main class="container-fluid">

    <div class="page-header">
        <h1>
            <a href="{{baseurl}}">
                <img src="//upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Wikisource-logo.svg/114px-Wikisource-logo.svg.png" />
                {{site_title}}
            </a>
        </h1>
    </div>

    {% for notice in notices %}
    <div class="{{notice.type}} notice alert
         alert-{% if notice.type=='error' %}danger{% else %}success{% endif %}
         " role="alert">
        <p>{{notice.message}}</p>
    </div>
    {% endfor %}

    <div class="content">
        {% block content %}{% endblock %}
    </div>

</main>

<footer class="container-fluid">
    <div class="row">
        <p class="col-xs-12 text-right text-muted">
            Please submit bug reports and suggestions via
            <a href="https://phabricator.wikimedia.org/tag/wikisource" target="_blank">Phabricator</a>.
        </p>

    {% if debug %}
    <ol class="queries">
        {%for query in queries %}
        <li>
            <code>{{query.sql}}</code>
            {% for key,val in query.params %}
                [ {{key}} = {{val}} ]
            {% endfor %}
        </li>
        {% endfor %}
    </ol>
    {% endif %}

    </div>
</footer>

{% endblock %}
