{% extends "html_page.twig" %}

{% block bodycontent %}
<main class="container-fluid">

    <div class="page-header">
        <h1>
            Error {{e.getCode}}
            <small class="text-danger">{{e.getMessage|raw}}</small>
        </h1>
    </div>

    {% if debug %}
        <table class="table table-condensed table-striped">
            <thead>
                <tr>
                    <th>File</th>
                    <th>Line</th>
                    <th>Function</th>
                    <th>Class</th>
                    <th>Type</th>
                    <th>Args</th>
                </tr>
            </thead>
            {% for trace in e.getTrace %}
                <tr>
                    <td>{{trace.file}}</td>
                    <td>{{trace.line}}</td>
                    <td>{{trace.function}}</td>
                    <td>{{trace.class}}</td>
                    <td>{{trace.type}}</td>
                    <td>
                        <ul>
                        {% for a in trace.args %}
                        <li>{% if debug %}{{dump(a)}}{% else %}{{ a }}{% endif %}</li>
                        {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    <p>
        Please consider
        <a href="https://github.com/wikisource/ws-search/issues"
           title="Let the authors of this software know that something is wrong (opens in a new tab)" target="_blank">
            reporting an issue</a> if you are unable to resolve this error.
            This is version {{app_version}}.
    </p>

    <p><a href="{{baseurl}}/">&larr; Return to site homepage</a></p>

</main>

{% endblock %}
