{% extends "base.twig" %}
{% block content %}

    <form method="get" action="{{baseurl}}/" class="well">
        <p>
            Use this form to search {{totalWorks|number_format}} works
            hosted on {{langs|length|number_format}} Wikisource projects.
        </p>
        <p class="form-group">
            <label class="control-label">Language:</label>
            <select name="lang" class="form-control">
                <option value="*">All</option>
                {% for l in langs %}
                <option value="{{l.code}}" {% if l.code == lang %}selected{% endif %}>
                    {{l.code}} &mdash; {{l.label}}
                </option>
                {% endfor %}
            </select>
        </p>
        <p class="form-group">
            <label class="control-label">Title:</label>
            <input type="text" name="title" class="form-control" value="{{form_vals.title}}" />
        </p>
        <p class="form-group">
            <label class="control-label">Author:</label>
            <input type="text" name="author" class="form-control" value="{{form_vals.author}}" />
        </p>
        <p class="form-group">
            <input type="submit" value="Search" class="btn btn-info" />
        </p>
    </form>

    {% if works %}
    <p class="alert alert-success">{{works|length|number_format}} works found.</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Year</th>
                <th>Links</th>
            </tr>
        </thead>
        <tbody>
            {% for work in works %}
            <tr>
                <td>
                    <a href="https://{{lang}}.wikisource.org/wiki/{{work.pagename|escape('url')}}">
                        {{work.pagename}}
                    </a>
                </td>
                <td>
                    {% for author in work.authors %}
                    {{author.pagename}}
                    {% endfor %}
                </td>
                <td>{{work.year}}</td>
                <td class="nowrap">

                    <a href="https://tools.wmflabs.org/wsexport/tool/book.php?lang={{lang}}&format=epub-3&page={{work.pagename|escape('url')}}" title="Download EPUB">
                    <img src='https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/EPUB_silk_icon.svg/15px-EPUB_silk_icon.svg.png' 'html'/>
                </a>

                <a href="https://tools.wmflabs.org/wsexport/tool/book.php?lang={{lang}}&format=pdf-a4&page={{work.pagename|escape('url')}}" title="Download PDF">
                    <img src='https://upload.wikimedia.org/wikipedia/commons/thumb/0/0e/Pdfreaders-f.svg/15px-Pdfreaders-f.svg.png' />
                </a>

                {% if book.index_page %}
                <a href="https://{{lang}}.wikisource.org/wiki/{{book.index_page}}">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/92/Open_book_nae_02.svg/20px-Open_book_nae_02.svg.png" />
                </a>
                {% endif %}

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endif %}

{% endblock %}

