{% extends "base.twig" %}
{% block content %}

    <form method="get" action="{{baseurl}}/" class="well">
        <p>
            Use this form to search {{totalWorks|number_format}} works
            hosted on {{langs|length|number_format}}
            <a href="https://wikisource.org/">Wikisource</a> projects.
        </p>
        <div class="row">
            <p class="form-group col-md-6">
                <label class="control-label" for="lang">Language:</label>
                <select name="lang" class="form-control" id="lang">
                    {% for l in langs %}
                    <option value="{{l.code}}" {% if l.code == lang %}selected{% endif %}>
                        {{l.code}} &mdash; {{l.label}}
                    </option>
                    {% endfor %}
                </select>
            </p>
            <p class="form-group col-md-6">
                <label class="control-label" for="">Output format:</label>
                <select name="output_format" class="form-control">
                    <option value="table">Table</option>
                    <option value="grid">Grid</option>
                    <option value="csv">CSV</option>
                    <option value="json">JSON</option>
                    <option value="opds">OPDS</option>
                </select>
            </p>
        </div>
        <div class="row">
            <p class="form-group col-md-6">
                <label class="control-label">Title contains:</label>
                <input type="text" name="title" class="form-control" value="{{form_vals.title}}" />
            </p>
            <p class="form-group col-md-6">
                <label class="control-label">Author name contains:</label>
                <input type="text" name="author" class="form-control" value="{{form_vals.author}}" />
            </p>
        </div>
        <p class="form-group">
            <input type="submit" value="Search" class="btn btn-info" />
        </p>
    </form>

    {% if works %}
    <p class="alert alert-success">{{works|length|number_format}} works found.</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Wikidata</th>
                <th>Title</th>
                <th>Authors</th>
                <th>Year</th>
                <th>Categories</th>
                <th>Proofreading status</th>
                <th>Index pages</th>
                <th>Cover images</th>
                <th>Download</th>
            </tr>
        </thead>
        <tbody>
            {% for work in works %}
            <tr>
                <td>
                    {% if work.wikidata_item %}
                    <a href="https://wikidata.org/wiki/{{work.wikidata_item}}">
                        {{work.wikidata_item}}
                    </a>
                    {% endif %}
                </td>
                <td>
                    <a href="https://{{lang}}.wikisource.org/wiki/{{work.pagename|escape('url')}}">
                        {{work.title}}
                    </a>
                </td>
                <td>
                    <ol class="list-unstyled">
                    {% for author in work.authors %}
                        <li>{{author.pagename}}</li>
                    {% endfor %}
                    <ol>
                </td>
                <td>{{work.year}}</td>
                <td>
                    <!-- Categories go here -->
                </td>
                <td {% if work.quality %}class="quality{{work.quality}}"{% endif %}>
                    {% if work.quality %}{{work.quality}}{% else %}No index{% endif %}
                </td>
                <td>
                    <ol class="list-unstyled">
                    {% for ip in work.indexPages %}
                        <li><a href="https://{{lang}}.wikisource.org/wiki/{{ip.pagename|escape('url')}}">{{ip.pagename}}</a></li>
                    {% endfor %}
                    <ol>
                </td>
                <td>
                    {% for ip in work.indexPages %}
                        <a href="{{ip.cover_image_url}}"><img src="{{ip.cover_image_url}}" height="30px" class="thumbnail" /></a>
                    {% endfor %}
                </td>
                <td class="nowrap">

                    <a href="https://tools.wmflabs.org/wsexport/tool/book.php?lang={{lang}}&format=epub-3&page={{work.pagename|escape('url')}}" title="Download EPUB">
                    <img src='https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/EPUB_silk_icon.svg/15px-EPUB_silk_icon.svg.png' />
                </a>

                <a href="https://tools.wmflabs.org/wsexport/tool/book.php?lang={{lang}}&format=pdf-a4&page={{work.pagename|escape('url')}}" title="Download PDF">
                    <img src='https://upload.wikimedia.org/wikipedia/commons/thumb/0/0e/Pdfreaders-f.svg/15px-Pdfreaders-f.svg.png' />
                </a>

                {% if book.index_page %}
                <a href="https://{{lang}}.wikisource.org/wiki/{{book.index_page}}">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/92/Open_book_nae_02.svg/20px-Open_book_nae_02.svg.png" />
                </a>
                {% endif %}

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endif %}

{% endblock %}

